<div class="container p-3">
    <div class="row">
      <div class="col-12">
        <form [formGroup]="form" (submit)="submit()">
          <div class="card">
            <div class="card-header">Enter name of some fruits</div>
            <div class="card-body" formArrayName="fruits">
              <div class="row">
                <div class="col-6" *ngFor="let fruit of get_fruits.controls; let i = index;">
                    <div class="form-group col-12">
                      <label for="">Fruit {{i+1}}&nbsp;</label>
                      <input class="form-control" type="text" [formControlName]="i">
                    </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="col-12">
                <button class="btn btn-primary m-1" type="button" (click)="addTextBox()"> Add Textbox </button>
                <button class="btn btn-success m-1" [disabled]="!form.valid" type="submit"> Pass to child </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>

<p><b>&nbsp;List of Fruits you enterd: Click on ur most favourite fruit</b></p>
<app-child *ngFor="let fruit of fruitList" [fruit]=fruit></app-child>
<app-child (favouriteFruit)="onFavouriteFruit($event)"></app-child>